<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dm.cn.device.mapper.DeviceNodeMapper">

    <resultMap id="BaseResultMap" type="com.dm.cn.device.entity.server.DeviceNode">
        <id property="id" column="ID" jdbcType="BIGINT"/>
        <result property="upperId" column="UPPER_ID" jdbcType="BIGINT"/>
        <result property="nodeName" column="NODE_NAME" jdbcType="VARCHAR"/>
        <result property="nodeType" column="NODE_TYPE" jdbcType="VARCHAR"/>
        <result property="createUser" column="CREATE_USER" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="UPDATE_USER" jdbcType="VARCHAR"/>
        <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="level" column="LEVEL" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,UPPER_ID,NODE_NAME,
        NODE_TYPE,CREATE_USER,CREATE_TIME,
        UPDATE_USER,UPDATE_TIME,LEVEL
    </sql>
</mapper>
